
 head {
	font-family: 'Roboto Slab', serif;
	color: #665544;
	text-align: left;} 

body { 
	background-size: cover;
	font-family: 'helvetica', sans-serif;
	color: #665544;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;}
	
li {
	list-style: none;
	display: inline-block;
	width: 20%;
	text-align: center;}

li a:link, li a:visited {
	color: black;}

div {
	border-top: 1px solid black;}	

a:link {
	color: black;}

a:visited {
	color: black}

img {
	max-width: 100%;}

