 head {
	font-family: 'Roboto Slab', serif;
	color: #665544;
	text-align: center;}
body {
	background-image: url("https://dl.dropboxusercontent.com/u/56647563/cubes/cubes.png"); 
	font-family: 'Roboto Slab', serif;
	color: #665544;
	text-align: center;
}
	